.banner{
    background: url("https://img.freepik.com/free-photo/programming-background-with-person-working-with-codes-computer_23-2150010125.jpg") no-repeat center center;
     background-size: cover;
     width: 100vw;
     padding-top: 20%;
     padding-bottom: 20%;
     margin: 0;
     color:#fff;
}
.countdown-cont {
    background: linear-gradient(45deg, #149dcc, #e4d295);
}
#border{
    font-family: 'rubik','serif';
    width: 700px;
}

.about{
    background: url("https://img.freepik.com/free-photo/programming-background-with-person-working-with-codes-computer_23-2150010125.jpg") no-repeat center center;
     background-size: cover;
     width: 100vw;
     padding-top: 20%;
     padding-bottom: 20%;
     margin: 0;
       
}